.app-header {
  background-color: #FFB703;
  display: flex;
  align-items: center;
  padding: 13px;
  width: 100%;

  h1 {
    flex-grow: 1;
    margin-left: 20px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    letter-spacing: 0.7px;
    color: #2d3e41;
  }

  nav > * {
    padding: 20.5px 40px;
    margin-right: -13px;

    &.active {
      background-color: #FB8500;
      color: aliceblue;
      font-weight: 500;
    }
  }
}


.nav-wrapper {
  display: flex;
  align-items: center;


}

.menu-button {
  display: none;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: #023047;

  font-size: 2em;
padding-right: 10px;
  // &:hover{
  //   background-color: #f8ebeb;

  // }
}


.menu-button svg {
  width: 20px;
  height: 20px;
  fill: #ff5a5f;
}



