
body:has(.chart-container){
  background-color: whitesmoke;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.chart {
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  min-width: 350px ;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.chart-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;  
  align-items: center;  
}

.statistics-page {
  display: flex;
  flex-direction: column;
}



