// .signup {
//   margin-block: 30px;
//   margin-left: 20px;

body:has(.signup){
  background-image: url("https://images.unsplash.com/photo-1518546305927-5a555bb7020d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.signup {
  color: white;
  width: 80%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  form {
    width: 50%;

    label {
      font-size: 18px;
      display: block;
      margin-bottom: 10px;
    }

    input[type="text"] {
      width: 100%;
      font-size: 16px;
      padding: 10px;
      border: 1px solid #023047;
      border-radius: 5px;
    }

    button {
      width: 100%;
      font-size: 18px;

    }
  }

  img {
    width: 50%;
  }
}
